/* Reglas globales */
h1, h2, h3, h4, h5, h6, p, a, span, strong, div, form, input, select, option, textarea, button { font-family: 'Raleway', sans-serif !important; }

header, main, footer, aside, nav, figure, figcaption, article { display: block; }

h1, h2, h3, h4, h5, h6, p { margin: 0; }

body { margin: 0 !important; }



/* Menú Móvil */
aside#menu-movil { width: 240px; height: 100%; position: fixed; top: 0; right: -240px; z-index: 9999; margin: 0; float: none; background: rgba(51, 51, 51, 0.95); }

aside#menu-movil a#abrir { width: 36px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 15px; left: -50px; z-index: 5; background: #222; text-align: center; color: #fff; font-size: 1em; padding: 8.5px 0; transition: all 0.3s ease-out; }
aside#menu-movil a#abrir:hover { background: #fff; color: #222; transition: all 0.3s ease-out; }

aside#menu-movil a#cerrar { width: 36px; height: auto; display: none; margin: 0; float: none; position: absolute; top: 15px; left: -50px; z-index: 4; background: #222; text-align: center; color: #fff; font-size: 1em; padding: 8.5px 0; transition: all 0.3s ease-out; }
aside#menu-movil a#cerrar:hover { background: #fff; color: #222; transition: all 0.3s ease-out; }

aside#menu-movil nav { width: 70%; height: auto; position: relative; margin: 5vh auto 0 auto; float: none; }
aside#menu-movil nav a { width: 100%; height: auto; display: block; margin: 0 auto 5vh; color: #fff; text-decoration: none; font-size: 1em; line-height: 1em; text-align: left; font-weight: 500; letter-spacing: 0.055em; transition: all 0.3s ease-out; }
aside#menu-movil nav a:hover { color: #6ACF3A; transition: all 0.3s ease-out; }



/* Botón WhatsApp */
aside#boton-wp { width: 50px; height: 50px; position: fixed; bottom: 20px; right: 22px; z-index: 999; margin: 0; float: none; }
aside#boton-wp a { width: 50px; height: auto; display: block; margin: 0 auto; float: none; position: relative; background: #6ACF3A; border-radius: 50%; text-align: center; color: #fff; font-size: 1.5em; padding: 10.5px 0; transition: all 0.3s ease-out; }
aside#boton-wp a:hover { background: #297406; transition: all 0.3s ease-out; }



/* Header */
header { width: 100%; height: 100px; position: fixed; top: 0; left: 0; z-index: 999; margin: 0; float: none; background: transparent; }
header a { width: 227px; height: 76px; display: block; position: relative; margin: 11px 0 11px 15px; float: left; transition: all 0.3s ease-out; }
header a img { width: 100%; height: auto; display: block; }
header a:hover { opacity: 0.7; transition: all 0.3s ease-out; }



/* Main */
main { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }


/* Section VIDEO */
main section#video { width: 100%; height: 100vh; position: relative; margin: 0 auto; float: none; background: #f0f0f0; overflow: hidden; }

main section#video video { width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 1; display: block; transform: scale(1.2); }
main section#video video source { width: 100%; height: 100vh; position: relative; margin: 0 auto; float: none; display: block; }

main section#video article { width: 100%; height: 100vh; position: absolute; top: 0; left: 0; z-index: 2; display: block; background: rgba(0, 0, 0, 0.15); }
main section#video article h1 { font-weight: bold; font-size: 3em; line-height: 1em; padding: 40vh 0 28px 0; text-align: center; }
main section#video article p { font-weight: 500; font-size: 1.5em; line-height: 1.3em; text-align: center; padding: 0 25%; }

@keyframes anima-flecha-abajo {
    0% { margin: 27vh auto 0 auto; }
    50% { margin: 30vh auto 0 auto; }
    100% { margin: 27vh auto 0 auto; }
}

main section#video article a { width: 42px; height: 40px; display: block; margin: 27vh auto 0 auto; float: none; position: relative; transition: all 0.3s ease-out; animation-name: anima-flecha-abajo; animation-duration: 3s; animation-play-state: running; animation-direction: normal; animation-iteration-count: infinite; animation-timing-function: ease-out; }
main section#video article a img { width: 100%; height: auto; display: block; }
main section#video article a:hover { opacity: 0.5; transition: all 0.3s ease-out; }

            

/* Section PRESENTACION */
main section#presentacion { width: 100%; height: 400px; position: relative; margin: 0 auto; float: none; background: #183152; }
main section#presentacion figure { width: 40%; height: 400px; position: relative; margin: 0; float: left; background: url('../img/presentacion.jpg') no-repeat top center; background-size: cover; }
main section#presentacion article { width: 60%; height: 400px; position: relative; margin: 0; float: left; }
main section#presentacion article h2 { font-size: 1.5em; line-height: 1.5em; color: #fff; font-weight: 800; letter-spacing: 0.3em; padding: 72px 64px 16px 64px; text-transform: uppercase; }
main section#presentacion article p { font-size: 1em; line-height: 1.7em; color: #fff; font-weight: 300; letter-spacing: 0.09em; padding: 16px 64px 16px 64px; }
main section#presentacion article a { width: 208px; height: 38px; display: block; margin: 16px 0 0 64px; float: none; position: relative; background: #fff; border-radius: 25px; text-decoration: none; transition: all 0.3s ease-out; }
main section#presentacion article a i { width: 38px; height: auto; display: block; float: left; margin: 0 0 0 8px; color: #222; font-size: 1.5em; line-height: 1em; text-align: center; padding: 7px 0; transition: all 0.3s ease-out; }
main section#presentacion article a span { width: 143px; height: auto; display: block; float: left; margin: 0 8px 0 6px; font-size: 0.9em; line-height: 1em; color: #333; font-weight: 600; letter-spacing: 0.02em; padding: 12px 0; transition: all 0.3s ease-out; }
main section#presentacion article a:hover { background: #9D9D9D; transition: all 0.3s ease-out; }



      

/* Section PRESENTACION */
main section#portafolio { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; background: #fff; }

main section#portafolio article { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }
main section#portafolio article h2 { font-weight: bold; font-size: 2em; line-height: 1.2em; padding: 86px 25% 24px 25%; text-align: center; }
main section#portafolio article hr { width: 40%; height: 1px; position: relative; margin: 0 auto 24px; float: none; border: none; background: #999; opacity: 0.5; }
main section#portafolio article p { font-weight: 500; font-size: 1.1em; line-height: 1.7em; padding: 0 25% 86px 25%; text-align: center; }

main section#portafolio nav { width: 100%; height: 680px; position: relative; margin: 0 auto; float: none; background: #000; }
main section#portafolio nav a { width: 25%; height: 340px; position: relative; margin: 0; float: left; display: block; text-decoration: none; transition: all 0.3s ease-out; }
main section#portafolio nav a strong { width: 90%; height: auto; display: block; float: none; margin: 0; position: absolute; bottom: 5%; left: 5%; font-size: 0.8em; line-height: 1.3em; color: #fff; font-weight: 500; text-transform: uppercase; letter-spacing: 0.05em; padding: 0;
    transition: all 0.3s ease-out; }
main section#portafolio nav a:hover { opacity: 0.5; transition: all 0.3s ease-out; }
main section#portafolio nav a:hover strong { bottom: 3%; left: 3%; transition: all 0.3s ease-out; }

main section#portafolio nav a#proyecto-01 { background: url('../img/portafolio-01.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-02 { background: url('../img/portafolio-02.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-03 { background: url('../img/portafolio-03.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-04 { background: url('../img/portafolio-04.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-05 { background: url('../img/portafolio-05.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-06 { background: url('../img/portafolio-06.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-07 { background: url('../img/portafolio-07.jpg') no-repeat top center; background-size: cover; }
main section#portafolio nav a#proyecto-08 { background: url('../img/portafolio-08.jpg') no-repeat top center; background-size: cover; }



           

/* Section ESTUDIO */
main section#estudios { width: 100%; height: 823px; position: relative; margin: 0 auto; float: none; background: #AFA9A9; }


/* Section ESTUDIO */
main section#habilidades { width: 100%; height: 706px; position: relative; margin: 0 auto; float: none; background: #949494; }


/* Section ESTUDIO */
main section#contacto { width: 100%; height: 674px; position: relative; margin: 0 auto; float: none; background: #C4C4C4; }



/* Footer */
footer { width: 100%; height: 470px; position: relative; margin: 0 auto; float: none; background: #9D9D9D; }



/* Zona Responsive */

/*
Desktop: 1200px en adelante
Tablets: 500px hasta 1199px
Mobile: 340px hasta 499px
*/

/* Tablets */
@media only screen and (max-width: 1199px) {
    header { height: 70px; }
    header a { width: 144px; height: 48px; margin: 11px 0 11px 15px; }
}

/* Mobile */
@media only screen and (max-width: 499px) {
    
}

@media only screen and (max-width: 399px) {
    header { height: 60px; }
    header a { width: 112px; height: 37px; margin: 11px 0 11px 15px; }
}